*{
    box-sizing: border-box;
}
table,td,th{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-collapse: collapse;
}
table{
    margin: auto;
    width: 70%;
}
th{
    background-color: brown;
    color: whitesmoke;
    padding: 5px;

}
td{padding: 5px;}
tr:nth-child(3){
    background-color: bisque;
}